<!-- <head>

  <style>
    
    
    </style>
</head>

<body>
  
  <div class="panel-header panel-header-sm" style="align-items: center;">
  </div>
  <div class="main-content">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h5 class="title">Login</h5>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-5 pr-1">
                  <div class="form-group">
                    <label>Email</label>
                    <input   #emailInput   type="text" class="form-control"  placeholder="Email">
                  </div>
                </div>
              
               
              </div>
             
              
         

              <div class="row">
                  <div class="col-md-5 pr-1">
                    <div class="form-group">
                      <label>Password</label>
                      <input  #pwInput   type="text" class="form-control"  placeholder="Password">
                    </div>
                  </div>
                
                 
                </div>



              
            
            <br><br>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <button (click)="onLoginButtonClicked(emailInput.value, pwInput.value)" class="button submit" type="submit">Submit</button>
                  </div>
                </div>
              </div>



              <br><br>
              -->
                
                 
                    <!-- <h2>Welcome <span *ngIf="loggedIn===true">{{user.firstName}} {{user.lastName}}, </span> to Angular 8 Application</h2> -->
                    <!-- <button type="button" (click)=" signInWithGoogle()">Sign In With Google</button>
                      <button type="button" (click)="signInWithFB()">Sign In With Facebook</button>
                    
                      <button type="button" (click)="forgot()">Forgot Password</button>
                   
                 
           

             
            </form>
          </div>
        </div>
      </div>
   
    </div>
  </div>

</body> -->



<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> <b>Watchita</b> </h2>
   

    <!-- Icon -->
   

    <!-- Login Form -->
    <form>
      <!-- <input   #emailInput   type="text" class="form-control"  placeholder="Email"> -->
      <input   #uname type="text" class="fadeIn second" name="login" placeholder="User Name">
      <input   #email type="text" id="login" class="fadeIn second" name="login" placeholder="Email Address">
      <!-- <input  #pwInput   type="text" class="form-control"  placeholder="Password"> -->
      <input #password type="password" id="password" class="fadeIn third" name="login" placeholder="Password">
      <input #aboutme type="text" id="password" class="fadeIn third" name="login" placeholder="Describe yourself">
      <input aboutme type="submit" class="fadeIn fourth" value="Sign Up">
    </form>

    <!-- Remind Passowrd -->
  

  </div>
</div>