<!-- <p>change-password works!</p>


<p>enter the phone no provided in sign up</p>

<form>
    <label>Enter New Password:</label>
<input  #pswd type="string" name="">
<button type="submit" (click)="pswdSubmit(pswd.value)">Submit</button>
</form> -->









 



<div class="wrapper">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> <b>Watchita</b> </h2>
     
  
      <!-- Icon -->
     
  
      <!-- Login Form -->
      <form>
        <!-- <input   #emailInput   type="text" class="form-control"  placeholder="Email"> -->
        <input    #pswd type="password" id="login" class="fadeIn second" name="login" placeholder="Enter New Password">
        <!-- <input  #pwInput   type="text" class="form-control"  placeholder="Password"> -->
        
        <input (click)="pswdSubmit(pswd.value)" type="submit" class="fadeIn fourth" value="Next">
      </form>
  
      <!-- Remind Passowrd -->
      
  
    </div>
  </div>

