<!-- <p>main-page works!</p>
<mat-slider min="1" max="100" step="1" value="1"></mat-slider>

<button type="submit" (click) = "onClick()">login</button> -->


        
<button (click) = "onLogin()" class="btn first login" style="float: right;">Log In</button>

<button class="btn first signup" (click) = "onSignUp()"style="float: right;">Sign Up</button>

<!-- <video  src = "https://cdn.dribbble.com/users/824356/videos/34872/movie_web_-_10mb.mp4"  autoplay  class="center" > -->


    <!-- <video autoplay>
        <source src="https://cdn.dribbble.com/users/824356/videos/34872/movie_web_-_10mb.mp4" type="video/mp4">
       
        Your browser does not support the video tag.
      </video> -->


      <div class="container"  >
      <video autoplay loop  width="1440" height="765" style="background-color: black;">
        <source src="../../assets/netflix3.mp4" type="video/mp4">
      </video>
    </div>